/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ba0022;
  --ifm-color-primary-dark: #a7001f;
  --ifm-color-primary-darker: #9e001d;
  --ifm-color-primary-darkest: #820018;
  --ifm-color-primary-light: #cd0025;
  --ifm-color-primary-lighter: #d60027;
  --ifm-color-primary-lightest: #f2002c;
  --ifm-background-color: #eeede2;
  --ifm-navbar-background-color: #e2e1d6;
  --ifm-card-background-color: #e2e1d6;
  --ifm-code-background: #e2e1d6;
  --ifm-dropdown-background-color: #eeede2;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #25c13f;
  --ifm-color-primary-dark: #21ae39;
  --ifm-color-primary-darker: #1fa436;
  --ifm-color-primary-darkest: #1a872c;
  --ifm-color-primary-light: #29d445;
  --ifm-color-primary-lighter: #31d84d;
  --ifm-color-primary-lightest: #4edd66;
  --ifm-background-color: #0f1a0d;
  --ifm-navbar-background-color: #1b2619;
  --ifm-card-background-color: #1b2619;
  --ifm-code-background: #1b2619;
  --ifm-dropdown-background-color: #0f1a0d;
}
